@r:20rem;
input,textarea{margin:0;padding:0;border:none; outline:none;}
textarea{ resize:none; overflow:auto;}
em{ font-style:normal;}
ul{margin:0;padding:0; list-style:none;}
h1,p,h2{margin:0; font-weight:normal;}
a,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
img{ border:none; vertical-align:top;}
body,
html {
  position: relative;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
img{
  vertical-align: top;
}
a{
  text-decoration: none;
  color: #aaa;
}
.clear{
  clear: both;
}
//首页
header{
    position: relative;
  height:60/@r;
  background: #fff;
  line-height:60/@r;
  border-bottom: 1px solid #f3f3f3;
  .header{
    padding: 0 20/@r;
    a{
      float: left;
      width: 54/@r;
      display: inline-block;
      text-align: center;
    }
    a.active{
      display: inline-block;
      float: left;
      width: 88/@r;
      font-size:30/@r;
      color: #5eb61b;
      font-weight: bold;
    }
    a.blue{
      color: #368be5;
        font-size:20/@r;
    }
    a.Earth{
      color: #997963;
        font-size:20/@r;
    }
    a.yellow{
      color: #dca732;
        font-size:20/@r;
    }
    a.danblue{
      color: #5ab5c9;
        font-size:20/@r;
    }
    a i{
      color: #5cb00a;
        font-size:20/@r;
    }
  }
}
//#wrap{
//  position: absolute;
//  top:60/@r;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  width: 100%;
//  overflow: hidden;
  .wrapContent{
    margin-bottom: 10/@r;
    height: 304/@r;
    padding: 0 20/@r;
    .head{
      height: 60/@r;
      line-height:60/@r;
      span:nth-of-type(1){
        float: left;
      }
     a{
       float: right;
       color: #5eb61b;
     }
    }
    .minxin1()
  }
  .minxin1(){
    .picAll{
      width: 100%;
      height: 238/@r;
      position: relative;
      overflow: hidden;
      .pics{
        position: absolute;
        height: 100%;
        z-index: 2;
        a{
          float: left;
          display: inline-block;
          width: 120/@r;
          margin-right: 10/@r;
          position: relative;
          height: 100%;
          img{
            width: 120/@r;
            height: 182/@r;
          }
          p:nth-of-type(1){
            text-align: center;
            padding-top: 10/@r;
            margin-bottom: 5/@r;
              font-size:14/@r;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
          }
          p:nth-of-type(2){
            vertical-align: top;
            padding-left: 14/@r;
              overflow: hidden;
              padding-top: .13rem;
              float: left;
            i{
              float: left;
              font-size:12/@r;
              margin-right: 1/@r;
            }
          }
          span{
            //position: absolute;
            //right: 5/@r;
            //bottom:0;
              padding-left: 3/@r;
            font-size:12/@r;
              float: left;
            vertical-align: top;
          }
          i.active{
            color: #f6b633;
          }
        }
      }
    }
  }
  .wrapNav{
    margin-top: 40/@r;
    width: 100%;
    height: 450/@r;
    .nav{
      line-height:50/@r;
      height: 50/@r;
      padding-left: 20/@r;
      .card{
        height: 50/@r;
        border-top: 1px solid #f3f3f3;
        a{
          height: 100%;
          display: inline-block;
          width: 9.3rem;
          span:nth-of-type(1){
            color: #5eb61b;
            float: left;
            padding-left: 10/@r;
          }
          span:nth-of-type(2){
            float: right;
            padding-right: 10/@r;
            i{
              font-size:30/@r;
            }
          }
        }
        a:nth-of-type(1){
          border-right: 1px solid #f3f3f3  ;
        }
      }
      .card:last-child{
        border-bottom: 1px solid #f3f3f3;
      }

    }
  }
//}
//更多
#wrap{
  position: absolute;
  top:60/@r;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
    .MwrapContent{
        margin-bottom: 10/@r;
        padding: 0 20/@r;
        .head{
            height: 60/@r;
            line-height:60/@r;
            span:nth-of-type(1){
                float: left;
            }
            a{
                float: right;
                color: #5eb61b;
            }
        }
    }

  .MorePics{
    width: 100%;
      overflow: hidden;
    a{
      float: left;
      display: inline-block;
        //margin-bottom: 20/@r;
      width: 110/@r;
        padding: 10/@r 0;
      margin-right: 10/@r;
      position: relative;
      height: 100%;
      img{
        width: 110/@r;
        height: 162/@r;
      }
      p:nth-of-type(1){
          font-size:14/@r;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        text-align: center;
        padding-top: 10/@r;
        margin-bottom: 5/@r;
      }
      p:nth-of-type(2){
        vertical-align: top;
        padding-left: 6/@r;
        i{
          float: left;
          font-size:12/@r;
          margin-right: 1/@r;
        }
      }
      span{
        padding-left: 5/@r;
        font-size:12/@r;
        vertical-align: top;
      }
      i.active{
        color: #f6b633;
      }
    }
  }
}
//详情
//#wrap{
//  position: absolute;
//  top:60/@r;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  width: 100%;
//  overflow: hidden;
//  .detailContent{
//    padding:20/@r;
//    h2{
//      padding-bottom: 10/@r;
//    }
//    .left{
//      float: left;
//      width: 200/@r;
//      .icons{
//        padding-right: 10/@r;
//        i{
//          float: left;
//        }
//        i.active{
//          color: #f6b633;
//        }
//      }
//      p:nth-of-type(1){
//        padding-top: 10/@r;
//
//      }
//
//    }
//    .right{
//      float: right;
//      width: 130/@r;
//      img{
//        width: 100%;
//        height: 200/@r;
//      }
//    }
//    .title{
//      color: #aaa;
//      padding: 40/@r 0;
//    }
//    .picAll{
//      width: 100%;
//      height: 244/@r;
//      position: relative;
//      overflow: hidden;
//      .pics{
//        position: absolute;
//        height: 100%;
//        z-index: 2;
//        a{
//          float: left;
//          display: inline-block;
//          width: 120/@r;
//          margin-right: 10/@r;
//          position: relative;
//          height: 100%;
//          img{
//            width: 120/@r;
//            height: 182/@r;
//          }
//          p:nth-of-type(1){
//            text-align: center;
//            padding-top: 10/@r;
//            margin-bottom: 5/@r;
//          }
//          p:nth-of-type(2){
//            vertical-align: top;
//            padding-left: 14/@r;
//            i{
//              float: left;
//              font-size:12/@r;
//              margin-right: 1/@r;
//            }
//          }
//          span{
//            position: absolute;
//            right: 5/@r;
//            bottom:0;
//            font-size:12/@r;
//            vertical-align: top;
//          }
//          i.active{
//            color: #f6b633;
//          }
//        }
//      }
//    }
//    .Essay{
//      //height: 280/@r;
//      margin-bottom: 20/@r;
//      overflow: hidden;
//      padding: 20/@r;
//        .EssayLeft{
//          float: left;
//          width: 50/@r;
//          height: 50/@r;
//          img{
//            width: 100%;
//            height: 100%;
//            border-radius: 50%;
//          }
//        }
//      .EssayRight{
//        float: left;
//        width: 13rem;
//        .EssayHeader{
//          line-height:40/@r;
//          padding-left: 10/@r;
//          span:nth-of-type(1){
//            float: left;
//          }
//          span:nth-of-type(2){
//            padding-left: 10/@r;
//            display: inline-block;
//            line-height:32/@r;
//            height: 32/@r;
//            i.active{
//              padding-top: 10/@r;
//              color: #f6b633;
//              float: left;
//            }
//          }
//        }
//        .time{
//          font-size:14/@r;
//          color: #aaa;
//          padding-left: 14/@r;
//        }
//        .content{
//          padding-top: 10/@r;
//        }
//        .icon{
//          color: #aaa;
//          span{
//            padding-left: 10/@r;
//            font-size:14/@r;
//          }
//        }
//      }
//    }
//  }
//}
    .detailContent{
        padding:20/@r;
        overflow: hidden;
        h2{
            padding-bottom: 10/@r;
        }
        .left{
            float: left;
            width: 200/@r;
            .icons{
                padding-right: 10/@r;
                i{
                    float: left;
                }
                i.active{
                    color: #f6b633;
                }
            }
            p:nth-of-type(1){
                padding-top: 10/@r;

            }

        }
        .right{
            float: right;
            width: 130/@r;
            img{
                width: 100%;
                height: 200/@r;
            }
        }
        .title{
            color: #aaa;
            padding: 40/@r 0;
        }
        .picAll{
            width: 100%;
            height: 244/@r;
            position: relative;
            overflow: hidden;
            .pics{
                position: absolute;
                height: 100%;
                z-index: 2;
                a{
                    float: left;
                    display: inline-block;
                    width: 120/@r;
                    margin-right: 10/@r;
                    position: relative;
                    height: 100%;
                    img{
                        width: 120/@r;
                        height: 182/@r;
                    }
                    p:nth-of-type(1){
                        text-align: center;
                        padding-top: 10/@r;
                        margin-bottom: 5/@r;
                    }
                    p:nth-of-type(2){
                        vertical-align: top;
                        padding-left: 14/@r;
                        i{
                            float: left;
                            font-size:12/@r;
                            margin-right: 1/@r;
                        }
                    }
                    span{
                        position: absolute;
                        right: 5/@r;
                        bottom:0;
                        font-size:12/@r;
                        vertical-align: top;
                    }
                    i.active{
                        color: #f6b633;
                    }
                }
            }
        }
        .Essay{
            //height: 280/@r;
            margin-bottom: 20/@r;
            overflow: hidden;
            padding: 20/@r;
            .EssayLeft{
                float: left;
                width: 50/@r;
                height: 50/@r;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
            .EssayRight{
                float: left;
                width: 13rem;
                .EssayHeader{
                    line-height:40/@r;
                    padding-left: 10/@r;
                    span:nth-of-type(1){
                        float: left;
                    }
                    span:nth-of-type(2){
                        padding-left: 10/@r;
                        display: inline-block;
                        line-height:32/@r;
                        height: 32/@r;
                        i.active{
                            padding-top: 6/@r;
                            color: #f6b633;
                            float: left;
                        }
                    }
                }
                .time{
                    font-size:14/@r;
                    color: #aaa;
                    padding-left: 14/@r;
                }
                .content{
                    padding-top: 10/@r;
                }
                .icon{
                    color: #aaa;
                    span{
                        padding-left: 10/@r;
                        font-size:14/@r;
                    }
                }
            }
        }
    }

