/*footer{*/
/*border-top: 1px solid #f1f1f1;*/
/*position: absolute;*/
/*bottom: 0;*/
/*width: 100%;*/
/*height: 60/@r;*/
/*background: #fff;*/
/*}*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 3.3rem;
  width: 100%;
  background: #fff;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}
footer li {
  float: left;
  width: 4rem;
  height: 100%;
  padding-top: 0.3rem;
  text-align: center;
}
footer li p {
  color: #aaaaaa;
  font-size: 0.75rem;
}
footer li .all {
  font-size: 1.5rem;
  color: #aaaaaa;
}
footer li.active p {
  font-size: 0.75rem;
  color: #00c01c;
}
footer li.active .all {
  font-size: 1.5rem;
  color: #00c01c;
}
