img {
  float: right;
  width: 5rem;
  height: 5rem;
}
#Home {
  position: relative;
  background: #fff;
}
#Home .card {
  padding: 1rem 1rem 1rem 0;
  margin-bottom: 1rem;
  margin-left: 1rem;
  overflow: hidden;
  border-bottom: 1px solid #f2f2f2;
}
#Home .card .cardLeft {
  width: 11.5rem;
  float: left;
}
#Home .card .cardLeft p:nth-of-type(1) {
  font-size: 1rem;
  font-weight: bold;
}
#Home .card .cardLeft p:nth-of-type(2) {
  padding: 0.25rem 0;
  font-size: 0.7rem;
  olor: #aaa;
}
#Home .card .cardRight {
  float: right;
}
#Home .card .itemList {
  padding-top: 0.5rem;
  clear: both;
}
#Home .card .itemList span {
  color: #ccd0d4;
  font-size: 0.6rem;
}
#Home .card .itemList span:nth-of-type(1) {
  float: left;
}
#Home .card .itemList span:nth-of-type(2) {
  float: right;
}
.addWidth {
  width: 100%;
  float: left;
}
.addWidth p:nth-of-type(1) {
  font-size: 1rem;
  font-weight: bold;
}
.addWidth p:nth-of-type(2) {
  padding: 0.25rem 0;
  font-size: 0.7rem;
  color: #aaa;
}
.ico {
  width: 100%;
  height: 5rem;
}
.positions {
  margin-bottom: -10rem !important;
}
